
{% extends "accounts/admin_dashboard.html" %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->

{% block content %}
<div class="container py-5">

<h3 class="text-2xl font-semibold mb-6">Export Attendance CSV</h3>


<form action="{% url 'export_attendance' %}" method="get" 
 class="export-form border rounded-3 p-4"
      >
  
    <input type="hidden" name="download" value="1"><!-- tells view to stream CSV -->

    <div class="mb-3">
    <!-- <label for="search-name" class="form-label">Search by Name</label>
    <input type="text" id="search-name" name="search_name" class="form-control" placeholder="Type employee name">
</div> -->

    <div class="mb-3">
        <label class="form-label text-blue-400">From</label>
        <input type="date" name="start_date" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label text-blue-400">To</label>
        <input type="date" name="end_date" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label text-blue-400">Employee</label>
        <select name="user_id" class="form-select">
            <option value="">All employees</option>
            {% for u in users %}
                <option value="{{ u.id }}">{{ u.username }}</option>
            {% endfor %}
        </select>
    </div>

    <button class="btn-export ">
        <i class="fa fa-download me-1"></i> Download CSV
    </button>
</form>
{% endblock %}
